.smallTitle {
    text-transform: uppercase;
}

.title {
    font-weight: bolder !important;
}

.iconCon {
    width: 50px;
    height: 50px;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.icon {
    color: var(--secondary);
}

.serviceCard {
    padding: 20px;
    color: var(--primary) !important;
    border-radius: 7px !important;
    box-shadow: var(--primary) 0px 3px 3px -2px, rgb(0 0 0 / 10%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px !important;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.4)) !important;
}

/* Responsive */
/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .gridCon {
        height: 800px;
    }
}