.smallTitle {
    text-transform: uppercase;
}

.title {
    font-weight: bolder !important;
}

.projectImg {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    transition: .2s ease-in-out;
}

.imageHoverBox {
    width: 100%;
    height: 98%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #737373c3;
    color: var(--secondary);
    border-radius: 7px;
    font-weight: bold;
    transition: .2s ease-in-out;
}

.projectImgCon .imageHoverBox.fade {
    opacity: 0;
}

.projectImgCon:hover .imageHoverBox.fade {
    opacity: 1;
}

.myLink {
    text-decoration: none !important;
}

.myBtn {
    background-color: var(--third) !important;
    color: var(--primary) !important;
    text-transform: none !important;
    border-radius: 7px !important;
    cursor: none !important;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px !important;
}

.myBtn:hover {
    background-color: #ffe4e18e !important;
}

.icon {
    color: var(--primary);
}

/* Responsive */
/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .gridCon {
        height: 800px;
    }
}