@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary: #D46868;
    --secondary: #FFCAC6;
    --third: #FFE4E1;
}

[data-theme="dark"] {
    --primary: #2F4858;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    cursor: none;
}

.app {
    background-color: var(--primary);
    color: var(--secondary);
    transition: .5s;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: var(--primary);
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 7px;
}