.myImg {
    width: 100%;
}

.smallTitle {
    text-transform: uppercase;
}

.name {
    font-weight: bolder !important;
}

.iconLink {
    text-decoration: none;
    display: inline-block;
    width: 21px;
    height: 21px;
}

.icon {
    color: var(--primary);
    font-size: 30px;
}

.contactIconCon {
    width: 50px;
    height: 50px;
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.contactLink {
    color: var(--secondary) !important;
    text-decoration: none !important;
    transition: .3s;
    font-size: 25px;
}

.contactLink:hover {
    color: #ffe4e18e !important;
}

.contactInput {
    margin-bottom: 25px !important;
}

.contactInput label, 
.contactInput input, 
.contactInput textarea {
    color: var(--secondary) !important;
}

.contactInput input, 
.contactInput div, 
.contactInput div::after, 
.contactInput div::before, 
.contactInput div:hover::before {
    border-bottom: 1px solid var(--secondary) !important;
}

.myBtn {
    background-color: var(--third) !important;
    color: var(--primary) !important;
    text-transform: none !important;
    border-radius: 7px !important;
    cursor: none !important;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px !important;
}

.myBtn:hover {
    background-color: #ffe4e18e !important;
}

/* Responsive */
/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .gridCon {
        height: 800px;
    }
}